language: python
python:
- 3.6.5
sudo: required
services:
  - docker
script:
  - apt-get install -y moreutils
  - ./bash-plus compile bash-plus | sponge bash-plus
  - make publish
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file:
    - "bash-plus"
  skip_cleanup: true
  on:
    tags: true